<nav class="false navbar navbar-expand-lg navbar-light">
    <div class="container-lg">
        <a href="{{ path('coreshop_index') }}" class="navbar-brand">
            <img src="{{ asset('bundles/coreshopfrontend/static/images/logo-full.svg') }}" title="CoreShop" alt="CoreShop" class="img-fluid" width="300"/>
        </a>
        <div class="coreshop-main-nav-search mx-auto">
            {{ render(controller('CoreShop\\Bundle\\FrontendBundle\\Controller\\SearchController::widgetAction')) }}
        </div>
        <div class="d-flex align-items-center ms-auto">
            <a target="_self" href="{{ path('coreshop_login') }}">{{ 'coreshop.ui.login'|trans }}</a>
            {% if is_granted('CORESHOP_CART') %}
                <div class="col-md-3 p-sm-2">
                    {{ render(controller('CoreShop\\Bundle\\FrontendBundle\\Controller\\CartController::widgetAction')) }}
                </div>
            {% endif %}
        </div>
    </div>
</nav>