{% extends '@CoreShopFrontend/layout.html.twig' %}
{% import "@CoreShopFrontend/Common/Macro/currency.html.twig" as currency %}

{% block content %}

    <section>
        <h2 class="main-heading text-center">
            {{ 'coreshop.ui.carts'|trans }}
        </h2>

        <div class="d-flex">
            <a href="{{ path('coreshop_cart_create_named') }}" class="btn btn-secondary mb-3 ms-auto">
                {{ 'coreshop.ui.create_new_cart'|trans }}
            </a>
        </div>

        {% if form is defined and coreshop.cart.id %}
            {{ form_start(form) }}

                <div class="row">
                    {% for key, list_form in form.list %}
                        {% set list = form.list.vars.choices[key].data %}
                        {% set cart_name = list.name ?: 'My Cart' %}
                        <div class="col-6 col-md-4 col-lg-3 col-xl-2" {{ coreshop_test_html_attribute('named-cart', cart_name) }}>
                            <div class="card flex-grow-1">
                                <div class="card-body">
                                    <div class="d-flex gap-2 mb-2">
                                        <span>{{ form_widget(list_form, coreshop_test_form_attribute('cart', cart_name)|coreshop_merge_recursive({'label': false,'attr': {'class': 'form-check-input'}})) }}</span>
                                        <span {{ coreshop_test_html_attribute('name') }}>{{ cart_name }}</span>
                                    </div>
                                    <div><strong>{{ 'coreshop.ui.total'|trans }}: </strong><span {{ coreshop_test_html_attribute('total') }}>{{ currency.convertAndFormat(list.total) }}</span></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="d-flex gap-2 mb-3 justify-content-end">
                    {{ form_widget(form.deleteList, coreshop_test_form_attribute('cart-delete-button')|coreshop_merge_recursive({
                        'attr': {
                            'class': 'btn btn-link'
                        },
                        'label_html': true,
                        'label': '<i class="bi bi-trash"></i> ' ~ 'coreshop.ui.delete'|trans
                    })) }}
                    {{ form_widget(form.selectList, coreshop_test_form_attribute('cart-select-button')|coreshop_merge_recursive( {
                        'attr': {
                            'class': 'btn btn-primary'
                        },
                        'label_html': true,
                        'label': '<i class="bi bi-cart"></i> ' ~ 'coreshop.ui.select_cart'|trans
                    })) }}

                </div>

            {{ form_widget(form._token) }}
            {{ form_end(form) }}
        {% endif %}
        {#
                {% else %}
                    <div class="table-responsive compare-table">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <td>{{ 'coreshop.ui.cart.name'|trans }}</td>
                                <td>{{ 'coreshop.ui.date'|trans }}</td>
                                <td>{{ 'coreshop.ui.total'|trans }}</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for list in lists %}
                                <tr>
                                    <td>{{ list.name ?: 'My Cart' }}</td>
                                    <td>
                                        {{ list.orderDate|date("d.m.Y") }}
                                    </td>
                                    <td>
                                        {{ currency.format(list.convertedTotal, list.currency.isoCode) }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
        #}
    </section>

{% endblock %}
