{% import "@CoreShopFrontend/Common/Macro/currency.html.twig" as currency %}

{% if order.hasItems %}
    <h2 class="text-center">
        {{ 'coreshop.ui.order'|trans }} {{ order.orderNumber }}
    </h2>

    {%  set invoiceAddress = order.invoiceAddress %}
    {%  set shippingAddress = order.shippingAddress ?? false %}

    <div class="row mt-3 mb-5">
        <div class="col-12 col-md-6 mb-3 mb-md-0">
            <div class="card bg-light border-0">
                <div class="px-3 pt-3 border-0">
                    <h4 class="mb-0">
                        {{ 'coreshop.ui.invoice_address'|trans }}
                    </h4>
                </div>
                <div class="card-body panel-invoice-address mb-2">{{ invoiceAddress|coreshop_format_address }}</div>
            </div>
        </div>
        {%  if shippingAddress %}
            <div class="col-12 col-md-6">
                <div class="card bg-light border-0">
                    <div class="px-3 pt-3 border-0">
                        <h4 class="mb-0">
                            {{ 'coreshop.ui.shipping_address'|trans }}
                        </h4>
                    </div>
                    <div class="card-body panel-invoice-address mb-2">{{ shippingAddress|coreshop_format_address }}</div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col-12 col-xl-8">
            {% for item in order.items %}
                {% include '@CoreShopFrontend/Common/Order/_item.html.twig' with {'item': item, 'btnremove': true} %}
            {% endfor %}
        </div>

        <div class="col-12 col-xl-4">
            {% include '@CoreShopFrontend/Checkout/steps/summary/_summary.html.twig' with {'cart': order} %}
        </div>
    </div>
{% else %}
    <p>{{ 'coreshop.ui.order_empty'|trans }}</p>
{% endif %}

