{% import '@CoreShopFrontend/Common/Macro/currency.html.twig' as currency %}

{% set shipping = cart.shipping(false) %}
{% set shippingIt = cart.shipping(true) %}
{% set discount = cart.discount(false) %}
{% set discountIt = cart.discount(true) %}
{% set taxes = cart.taxes %}
{% set payment_fee = cart.paymentproviderfee() %}

{% include '@CoreShopFrontend/Checkout/steps/summary/_rules.html.twig' %}

<div class="d-flex justify-content-between gap-2">
    <strong>{{ 'coreshop.ui.subtotal_inc'|trans }}:</strong>{{ currency.convertAndFormat(cart.subtotal(true)) }}
</div>

<div class="d-flex justify-content-between gap-2">
    <strong>{{ 'coreshop.ui.subtotal_excl'|trans }}:</strong> {{ currency.convertAndFormat(cart.subtotal(false)) }}
</div>

{% if discount != 0 %}
    <div class="d-flex justify-content-between gap-2">
        <strong>{{ discount > 0 ? 'coreshop.ui.surcharge_incl'|trans : 'coreshop.ui.discount_incl'|trans }}:</strong> {{ currency.convertAndFormat(cart.subtotal(false)) }} {{ currency.convertAndFormat(discountIt) }}
    </div>

    <div class="d-flex justify-content-between gap-2">
        <strong>{{ discount > 0 ? 'coreshop.ui.surcharge_excl'|trans : 'coreshop.ui.discount_excl'|trans }}:</strong> {{ currency.convertAndFormat(discount) }}
    </div>

{% endif %}
{% if shipping > 0 %}
    <div class="d-flex justify-content-between gap-2">
        <strong>{{ 'coreshop.ui.shipping_incl'|trans }}:</strong> {{ currency.convertAndFormat(shippingIt) }}
    </div>
    <div class="d-flex justify-content-between gap-2">
        <strong>{{ 'coreshop.ui.shipping_excl'|trans }}:</strong> {{ currency.convertAndFormat(shipping) }}
    </div>

{% endif %}
{% for taxItem in taxes %}
    <div class="d-flex justify-content-between gap-2">
        <strong>{{ 'coreshop.ui.tax_name'|trans|format(taxItem.name) }}:</strong> {{ currency.convertAndFormat(taxItem.amount) }}
    </div>
{% endfor %}

{% if payment_fee != 0 %}
    <div class="d-flex justify-content-between gap-2">
        <strong>{{ 'coreshop.ui.payment_fee'|trans }}:</strong> {{ currency.convertAndFormat(payment_fee) }}
    </div>
{% endif %}

<div class="d-flex justify-content-between gap-2">
    <strong>{{ 'coreshop.ui.total_tax'|trans }}:</strong> {{ currency.convertAndFormat(cart.totalTax) }}
</div>

<hr>
<div class="d-flex justify-content-between gap-2">
    <strong>{{ 'coreshop.ui.total'|trans }}:</strong> <span {{ coreshop_test_html_attribute('order-total') }}>{{ currency.convertAndFormat(cart.total) }}</span>
</div>



{% if cart.comment is not empty %}
    <div class="d-flex justify-content-between gap-2">
        <strong>{{ 'coreshop.ui.comment'|trans }}</strong>: {{ cart.comment|nl2br }}
    </div>
{% endif %}
