{% extends '@CoreShopFrontend/layout-full.html.twig' %}
{% form_theme form '@CoreShopFrontend/Common/theme.html.twig' %}

{% block center %}
    <div id="main-container" class="container p-0">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('coreshop_index') }}">{{ 'coreshop.ui.home'|trans }}</a></li>
                <li class="breadcrumb-item"><a href="{{ path('coreshop_customer_profile') }}">{{ 'coreshop.ui.profile'|trans }}</a></li>
                <li class="breadcrumb-item active">{{ 'coreshop.ui.change_password'|trans }}</li>
            </ol>
        </nav>


        <div class="row">
            {% include '@CoreShopFrontend/Customer/_sidebar.html.twig' %}
            <div class="col-12 col-lg-9">
                <h3>
                    {{ 'coreshop.ui.change_password'|trans }} <br/>
                </h3>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card bg-light border-0">
                            <div class="card-body">
                                {{ form_start(form) }}

                                    {{ form_row(form.current_password, coreshop_test_form_attribute('current-password')) }}
                                    {{ form_row(form.password.first, coreshop_test_form_attribute('new-password')) }}
                                    {{ form_row(form.password.second, coreshop_test_form_attribute('confirmation-new-password')) }}

                                    <div class="d-flex form-group pt-3">
                                        <button type="submit" class="btn btn-primary ms-auto" {{ coreshop_test_html_attribute('save-changes') }}>
                                            {{ 'coreshop.ui.save'|trans }}
                                        </button>
                                    </div>
                                    {{ form_row(form._token) }}
                                {{ form_end(form, {'render_rest': false}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
