{% extends '@CoreShopFrontend/layout-full.html.twig' %}

{% block center %}
<div id="main-container" class="container p-0">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('coreshop_index') }}">{{ 'coreshop.ui.home'|trans }}</a></li>
            <li class="breadcrumb-item active">{{ 'coreshop.ui.profile'|trans }}</li>
        </ol>
    </nav>

    {% include '@CoreShopFrontend/Common/flash_messages.html.twig' %}

    <div class="row">
        {% include '@CoreShopFrontend/Customer/_sidebar.html.twig' %}

        <div class="col-12 col-lg-9">
            <div class="row">
                {% if is_granted('CORESHOP_CUSTOMER_PROFILE_ORDERS') %}
                <div class="col-12 col-lg-6 mb-3">
                    <div class="bg-light">
                        <div class="icon-card bg-light border-0 p-3 card">
                            <div class="card-body">
                                <div class="card-title h3 d-flex align-items-center text-decoration-none text-body gap-3">
                                    <i class="bi bi-list-ul text-red"></i>
                                    {{ 'coreshop.ui.order_history_and_details'|trans }}
                                </div>
                                <div class="card-body--details" style="margin-left: calc(60px);">
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                        eget dolor. Aenean massa.
                                    </p>
                                    <div class="d-inline-flex">
                                        <a class="btn btn-primary d-flex align-items-center justify-content-center"
                                                target="_self" href="{{ path('coreshop_customer_orders') }}">Check order
                                            history
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if is_granted('CORESHOP_CUSTOMER_PROFILE_ADDRESSES') %}
                <div class="col-12 col-lg-6 mb-3">
                    <div class="bg-light">
                        <div class="icon-card bg-light border-0 p-3 card">
                            <div class="card-body">
                                <div class="card-title h3 d-flex align-items-center text-decoration-none text-body gap-3">
                                    <i class="bi bi-person-workspace text-red"></i>
                                    {{ 'coreshop.ui.addresses'|trans }}
                                </div>
                                <div class="card-body--details" style="margin-left: calc(60px);">
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                        eget dolor. Aenean massa.
                                    </p>
                                    <div class="d-inline-flex">
                                        <a class="btn btn-primary  d-flex align-items-center justify-content-center"
                                                target="_self" href="{{ path('coreshop_customer_addresses') }}">Check
                                            addresses</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if is_granted('CORESHOP_CUSTOMER_PROFILE_SETTINGS') %}
                <div class="col-12 col-lg-6 mb-3">
                    <div class="bg-light">
                        <div class="icon-card bg-light border-0 p-3 card">
                            <div class="card-body">
                                <div class="card-title h3 d-flex align-items-center text-decoration-none text-body gap-3">
                                    <i class="bi bi-person-lines-fill text-red"></i>
                                    {{ 'coreshop.ui.personal_information'|trans }}
                                </div>
                                <div class="card-body--details" style="margin-left: calc(60px);"><p class="card-text">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                        eget dolor. Aenean massa.</p>
                                    <div class="d-inline-flex"><a
                                                class="btn btn-primary  d-flex align-items-center justify-content-center  "
                                                 target="_self" href="{{ path('coreshop_customer_settings') }}">Check
                                            information</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if is_granted('CORESHOP_CUSTOMER_PROFILE_CHANGE_PASSWORD') %}
                <div class="col-12 col-lg-6 mb-3">
                    <div class="bg-light">
                        <div class="icon-card bg-light border-0 p-3 card">
                            <div class="card-body">
                                <div class="card-title h3 d-flex align-items-center text-decoration-none text-body gap-3">
                                    <i class="bi bi-lock-fill text-red"></i>
                                    {{ 'coreshop.ui.change_password'|trans }}
                                </div>
                                <div class="card-body--details" style="margin-left: calc(60px);"><p class="card-text">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                                        eget dolor. Aenean massa.</p>
                                    <div class="d-inline-flex">
                                        <a class="btn btn-primary  d-flex align-items-center justify-content-center  "
                                                 target="_self" href="{{ path('coreshop_customer_change_password') }}">Change
                                            password
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>



</div>
{% endblock %}
